<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="btn-container">
  <button type="button" class="btn btn-success" (click)="getAirInformation()">My Air Info</button>
  <button type="button" class="btn btn-warning" (click)="showPollution()">Mark Area</button>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>
<div #map id="map"></div>
<div *ngIf="airInfo" class="row info-header">
  <div class="col col-4 col-md-4 offset-4 offset-md-4 col-xs-12">
    <h2 class="text-center">AQI <br>(Air Quality Index)</h2>
  </div>
</div>
<div *ngIf="airInfo" class="row city">
  <div class="col col-4 col-md-4 offset-4 offset-md-4 col-xs-12">
    <h2 class="text-center" >{{airInfo.city.name}}</h2>
  </div>
</div>
<div *ngIf="airInfo" class="row aqi" [className]="getColor(airInfo.aqi)">
  <div class="col col-4 col-md-4 offset-4 offset-md-4 col-xs-12">
    <h1 class="text-center">{{airInfo.aqi}}</h1>
  </div>
</div>